html {
    font-size: 22px;
}

body {
    background-color: #333;
    color: whitesmoke;
}

a {
    color: aliceblue;
}

a:visited {
    color: lightgrey;
}

a:hover, a:active {
    color: #eee;
}

table, tr, td, th, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}

h1  {
    text-align: center;
    color: red;
}

h2, h3, h4, h5, h6 {
    color: rgb(200, 0, 0);
}

input, button, select {
    font: inherit;
}

.thebutton {
    color: aliceblue;
    background-color: rgb(200, 0, 0);
    position: relative;
    left: 260px;
    top: 5px;
}