html {
    font-size: 22px;
}

body {
    background-color: #333;
    color: whitesmoke;
}

a {
    color: aliceblue;
    text-decoration: none;
}

a:visited {
    color: lightgrey;
}

a:hover, a:active {
    color: #eee;
}

table, tr, td, th, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}

h1  {
    text-align: center;
    color: red;
}

h2, h3, h4, h5, h6 {
    color: rgb(200, 0, 0);
}

input, button, select {
    font: inherit;
}

ul {
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 0;
    text-align: right;
}

li {
    display: inline-block;
}

.container {
    border: 2px double red;
    padding: 0.5rem;
    font-size: 1.1rem;
}

.thebutton {
    color: aliceblue;
    background-color: rgb(200, 0, 0);
    position: relative;
    left: 260px;
    top: 5px;
}

.reimuinfo {
    display: flex;
    align-items: center;
    gap: 30px;
}

.reimuinfosect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px; /* keeps quote text nicely contained */
}

.reimuquotetext {
    font-style: italic;
    padding-left: 10px;
    font-size: 1.5em;
    margin: 0 0 10px 0;
    line-height: 1.4;
}

.reimuquotedesc {
    align-self: flex-end;
    margin: 0;
    font-size: 1.1em;
}